<header>
    <nav class="header-nav">
        <div class="logos">
            <a href="/"><img src="/assets/avl_logo.svg" alt="Go to Home" width="100"></a>
            <a href="/"><img src="/assets/rsup_logo.png" alt="Go to Home" width="100"></a>
        </div>
        <div class="search-bar search-bar-header">
            <form>
                <label>Search<input type="search"></label>
                <button type="submit" class="search-bar-btn search-btn-header"><img src="/assets/search_icon_dark.svg" alt="" width="10"></button>
            </form>
        </div>
    </nav>
</header>