{% render "partials/head.liquid" %}

{% render "partials/header.liquid" %}

<h1>Oops! This page doesn't exist</h1>

<h2>Check out our pages</h2>

<ul>
    <li><a href="/webinars">Webinars</a></li>
</ul>

{% comment %} <img src="/assets/404.jpg" alt="error bericht" width="250"> {% endcomment %}

{% comment %} {% render "partials/footer.liquid" %} {% endcomment %}

{% render "partials/foot.liquid" %}