{% assign pageTitle = "Error | Oncollaboration" %}
{% include "partials/head.liquid" %}
{% render "partials/header.liquid" %}

    <main class="error">
        <h1>Sorry! This page doesn't exist</h1>
        <h2>Check out one of our pages</h2>

        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/webinars">Webinars</a></li>
            <li><a href="/webinars">Contourings</a></li>
            <li><a href="/webinars">Articles</a></li>
            <li><a href="/profile">Profile</a></li>
        </ul>
    </main>


{% render "partials/footer.liquid" %}
{% render "partials/foot.liquid" %}