{% render "partials/head.liquid" %}

<h1>Oncollaboration</h1>

<h2>Webinars</h2>
    {% for webinar in webinars %}
        <ul>
            <li><a href="webinar/{{ webinar.slug }}">Title webinar: {{ webinar.title }}</a></li>

            {% for speaker in webinar.speakers %}
                <li>Speaker: {{ speaker.avl_speakers_id.fullname }}</li>
            {% endfor %}

            {% for category in webinar.categories %}
                <li>{{ category.avl_categories_id.name }}</li>
            {% endfor %}
        </ul>
    {% endfor %}

{% render "partials/foot.liquid" %}