.main-webinars {
    display: flex; 
    flex-direction: column;
    align-items: start;
    gap: 1rem;

    padding: var(--padding-sections);

    .introduction {
        width: 100%;

        form {
            display: flex; 
            align-items: center;
            justify-content: space-between;

            label {
                flex-grow: 1; 

                display: flex; 
                justify-content: space-between;
                align-items: center; 
                gap: 1rem; 

                input[type="search"] {
                    width: 100%;
                    appearance: none;
                    border: none; 
                    background-color: var(--light);
                    border-radius: var(--small-radius) 0 0 var(--small-radius);
                    height: 2rem;
    
                }
            }

            .search-btn-webinars {
                display: inline; 
                background-color: var(--primary-color);
                border-radius: 0 var(--small-radius) var(--small-radius) 0;

                transition: var(--text-hover-transition);
    
                &:hover {
                    background-color: var(--hightlight-primary-color);
                }
    
                &:active {
                    background-color: var(--light);
                }
            }
        }
    }

    .webinars {
        display: flex; 
        flex-direction: column;
        align-items: start; 
        
        .webinars-overview {
            width: 80vw;
    
            /* FLEX parent */
            display: flex; 
            flex-direction: column;
            align-items: center;
            gap: 1rem;
    
            .webinar-article {
                width: 100%;  
                
                .webinar-thumbnail {
                    position: relative; 
                    width: 100%;
                    max-width: 100%; 
                    overflow: hidden; 
                    
                    img {
                        width: 100%;
                        height: auto;
                        object-fit: cover;
                        border-radius: var(--large-radius);
                        max-width: 100%;  
                    }
    
                    p {
                        position: absolute; 
                        bottom: 0; 
                        right: 0; 
                        translate: -20% -50%;
                        color: var(--light);
                        background-color: var(--dark);
                        font-size: .8rem;
                        padding: var(--padding-small);
                        border-radius: var(--small-radius)
                    }
                }
    
                .webinar-info {
                    h3 {
                        width: 100%;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
        }
    }
}

.webinars-filter {
    display: flex; 
    flex-direction: column;
    align-items: start;
    gap: .5rem;

}

.category-filter {
    appearance: none;
    border: none;
    text-transform: uppercase;
    font-weight: var(--font-weight-bold);
    border-radius: var(--small-radius);
    padding: var(--padding-btns);
    color: var(--primary-color);
    background-color: var(--secondary-color);
    transition: var(--text-hover-transition);

    &:hover {
        background-color: var(--hightlight-primary-color);
        color: var(--secondary-color);
    }

    &.active {
        color: var(--secondary-color);
        background-color: var(--primary-color);

        &:hover {
            background-color: var(--hightlight-primary-color);
            color: var(--secondary-color);
        }
    }
}

select {
    /* appearance: none; */
    border: none;
    background-color: var(--secondary-color);
    padding: var(--padding-btns);
    border-radius: var(--small-radius);
    height: 2rem;
}
